<%- include("header") -%>
<div class="box" id="heading"><h1><%= kindOfDay %></h1></div>

<div class="box">
  <% tasks.forEach((task)=>{ %>
  <form action="/delete" method="post">
    <div class="item">
      <input name="checkbox" value="<%=task._id %>" onChange="this.form.submit()" type="checkbox" />
      <p><%= task.name %></p>
    </div>
  </form>
  <% }) %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Task" required />
    <button type="submit">+</button>
  </form>
</div>
<form class="item delete" method="post" action="/reset">
  <button id="delete-button" type="submit">Delete all tasks</button>
</form>

<%- include("footer") -%>
